/* Resetando alguns estilos básicos */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007bff;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #dc3545;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c82333;
}

h6 {
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
    color: #6c757d;
}

form {
    margin-top: 20px;
}
